<div class="jumbotron">
  <h1>A platform for movie</br>lovers to share their</br>thoughts</h1>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-outline-light hero-btn" %>
</div>

<div class="row">
  <div class="col-12-sm col-md-6 col-lg-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <i class="fas fa-book-open fa-3x"></i>
        <h5 class="card-title">Read Movie Reviews</h5>
        <p class="card-text">Lorem ipsum dolor amet salvia you probably
          haven't heard of them craft beer hell of letterpress
          venmo ethical small batch etsy lumbersexual gastropub
        </p>
      </div>
    </div>
  </div>

  <div class="col-12-sm col-md-6 col-lg-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <i class="fas fa-pencil-alt fa-3x"></i>
        <h5 class="card-title">Write Your Own Reviews</h5>
        <p class="card-text">Lorem ipsum dolor amet salvia you probably
          haven't heard of them craft beer hell of letterpress
          venmo ethical small batch etsy lumbersexual gastropub
        </p>
      </div>
    </div>
  </div>

  <div class="col-12-sm col-md-12 col-lg-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <i class="fas fa-hands-helping fa-3x"></i>
        <h5 class="card-title">Stay Connected</h5>
        <p class="card-text">Lorem ipsum dolor amet salvia you probably
          haven't heard of them craft beer hell of letterpress
          venmo ethical small batch etsy lumbersexual gastropub
        </p>
      </div>
    </div>
  </div>
</div>
