<div class="row">
  <div class="col-md-9 m-auto">
    <div class="movie-info text-center pb-5">
      <%= image_tag("https://upload.wikimedia.org/wikipedia/en/a/a6/The_Thing_%281982%29_theatrical_poster.jpg",
                    class: "mb-3") %>
      <h1 class="mb-3"><%= movie.title %></h1>
      <p class="mb-3"><%= movie.description %></p>
      <p class="mb-3"><%= movie.genre.name %></p>
    </div>
  </div>
</div>
