@media (max-width: 767px) {
  .jumbotron {
    height: 270px;

    h1 {
      font-size: 1.5em;
    }
  }

  .stat {
    font-size: 22px;
  }
}

@media (min-width: 576px) {
  .bottom-signup h3 {
    font-size: 1.5em;
  }
}
