<div class="card col-sm-12 col-md-9 col-lg-7">
  <div class="card-heading mt-3">
    <%= render "shared/cards/card/heading", user: user %>
  </div>

  <div class="card-body text-center">
    <%= render "shared/cards/card/body", user: user %>
  </div>
</div>

<div class="card col-sm-12 col-md-9 col-lg-7">
  <div class="card-heading mt-3">
    <%= render "shared/cards/card/heading", user: user %>
  </div>

  <div class="card-body text-center">
    <%= render "shared/cards/card/body", user: user %>
  </div>
</div>
