// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******************
INDEX
******************/

.movies {
  clear: both;
  text-align: center;
}

.thumbnail {
  display: inline-block;
  width: 250px;
  margin: 0 10px;
}

.title {
  font-size: 1em;
  /*margin-bottom: 80px;*/
}

.review-btn {
  display: block;
  border: 1px solid grey;
}
