<p>Lorem ipsum dolor amet salvia you probably
  haven't heard of them craft beer hell of letterpress
  venmo ethical small batch etsy lumbersexual gastropub</p>

<%= link_to "Read Full Review", root_path %>
