<!--<%= image_tag gravatar_for(user.email) %>-->
<div class="card-user-info float-left">
  <%= image_tag("https://upload.wikimedia.org/wikipedia/en/a/a6/The_Thing_%281982%29_theatrical_poster.jpg",
                 class: "card-user-img") %>
  <h3><%= user.username %></h3>
  <p>22 minutes ago</p>
</div>

<div class="float-right text-right">
  <h5 class="card-stars">Review Stars</h5>
  <button class="btn btn-follow">Follow</button>
</div>
