<div class="row">
  <div class="col-sm-8 col-lg-6 m-auto">
    <%= bootstrap_form_for [@movie, @review], url: movie_reviews_path do |f| %>
      <div id="rating-form">
        <label>Plot</label>
      </div>
      <%= f.text_area :opinion %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'jquery.raty.js', 'data-turbolinks-track': false %>
