<div class="row">
  <div class="col-sm-8 col-lg-6 m-auto">
    <%= bootstrap_form_for [@movie, @review], url: movie_reviews_path do |f| %>
      <label>Plot</label>
      <%= render "reviews/rating_form" %>
      <%= f.text_area :opinion %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
