.movies {
  clear: both;
  text-align: center;
}

.thumbnail {
  display: inline-block;
  width: 200px;
  margin: 0 10px;
}

.img-thumbnail {
  height: 250px;
}

.title {
  font-size: 1em;
  /*margin-bottom: 80px;*/
}

.review-btn {
  border: 1px solid grey;
  display: block;
  margin: 0 auto;
  width: 150px;
}
