<%= image_tag gravatar_for(user.email), alt: "User Image", class: "user-logo mt-5" %>

<h1 class="text-center mt-4"><%= user.username %><h1>

<p class="col-sm-8 text-center mt-4 mx-auto">Lorem ipsum dolor amet dIY hammock woke thundercats meggings mixtape vice occupy</p>
