<a href="#" class="stat mt-4 col-sm-4">
  Following </br>
  <span class="count">50</span>
</a>

<a href="#" class="stat mt-4 col-sm-4">
  Following </br>
  <span class="count">50</span>
</a>

<a href="#" class="stat mt-4 col-sm-4">
  Reviews </br>
  <span class="count">50</span>
</a>
