<footer class="row">
  <div class="container">
    <small class="copyright">&copy<%= Time.now.year %> Simple Critic</small>

    <nav class="footer-nav float-right">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Movies", "#" %></li>
        <li><%= link_to "About", "#" %></li>
      </ul>
    </nav>
  </div>
</footer>
