<!-- Navigation -->
<nav class="navbar static-top">
  <div class="container-fluid">
    <a href="#"><%= image_tag "logo.svg", class: "logo" %></a>

    <a class="hamburger" id="hamburger"><i class="fas fa-bars fa-3x"></i></a>

    <ul class="normal-navigation">
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
    </ul>

    
  </div>
</nav>
